@import url("https://use.typekit.net/sxs1odj.css");

.auth-form{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    z-index: 30;
    color: black;
    width: 440px;
    height: 600px;
    border: none;
    border-radius: 20px;
    background: #F0F8FF;
}
.auth-form input{
    width: 383px;
    height: 39px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    padding-left: 10px;
    background: transparent;
}
.auth-form input::placeholder{
    padding-left: 10px;
    font-family: "baloo-bhai-2", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    color: #B8C4CE;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 40;
    background: #FFFFFF03;
    width: 1123.32px;
    height: 784px;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(100px);
    box-shadow: 0px 4px 48px 0px #1F5D9726;
}
.auth-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 1% auto;
}
body {
    width: 100%;
    height: 100%; /* Adjust based on your content */ 
    background-image: url('../bg-img.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    font-family: "baloo-bhai-2", sans-serif;
}

.overlay-container .auth-wrapper {
    position: relative;
    z-index: 2; /* Ensure the content is above the overlay */
    color: white;
    padding: 50px;
}

.auth-text{
    position: relative;
    left: -41%;
    bottom: 5px;
}
.auth-text2{
    position: relative;
    left: -37%;
    bottom: 5px;
}
.login-btn{
    width: 395px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background: #1E90FF;
    margin-top: 15px;
    font-family: "baloo-bhai-2", sans-serif;
}
.login-button .login-btn:hover{
    background-color: #2970b7;
}
.logo-header{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: -5%;
}
.logo-header img{
    width: 90px;
    margin: auto;
}
.logo-content{
    position: relative;
    top: -14%;
    font-size: 16px;
    font-weight: 400;
}
.google{
    width: 395px;
    height: 45px;
    background: #DFEEFD;
    border: none;
    opacity: 0.8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-family: "baloo-bhai-2", sans-serif;
    color: black;
    /* box-shadow: 0px 4px 8px 0px #0000000F; */
    box-shadow: 0px 4px 8px 0px #0000000A;
}
.google-icon{
    font-size: 22px;
}
.google-btn .google:hover{
    background-color: #c5cfda;
}
.google-btn{
    text-align: center;
    /* position: relative;
    bottom: -5%; */
}
.signup{
    position: relative;
    top: 20%;
    font-size: 15px;
}
.auth-content-right{
    margin-top: 8%;
    font-size: 58px;
    font-weight: 300;
    margin-left: 5%;
}
.content-text{
    color: #F8F9FD99;
    line-height: 80.86px;
}
.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: -30%;
    gap: 4px;
}

input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}

.remember {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

.remember:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 7px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0; /* Hidden by default */
    transition: opacity 0.2s;
}

input[type="checkbox"]:checked + label {
    background-color: black;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1; /* Show the checkmark when checked */
}
.started{
    position: relative;
    left: -27%;
    font-size: 24px;
    font-weight: 500;
}
.btwn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
}
.h-line{
    border-top: 1px solid #26252566;
    width: 170px;
}
.blue{
    color: #1E90FF;
}